

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("tazita.jpg");
  opacity: 0.86;
  display: flex;
  min-height: 100vh;
  margin:0;
  padding:0;
  font-family:sans-serif;
  box-sizing:border-box

}

table {    
  font-family: 'Pacifico', cursive;
    font-size: 8pt;    
    margin: 2%;     
    width: 100%; 
    text-align: left;   
    border-collapse: collapse;
    }

th {    
 background: #D98F95;
 font-size: 20px;     
 font-weight: normal;     
 padding-right:5px; 
 padding-left: 5px;    
 border-top: 4px solid #aabcfe;   
 /*border-bottom: 1px solid #fff;*/ 
 color: #039;
 background: 
  }

  /*th#procedimiento{
    padding: 80px;  
  }

  th#ingredientes{
    padding: 50px;  
  }*/

td { 
 background: #735F6C;
 font-family: 'Sacramento', cursive; 
 padding: 10px;   
 border-top: 4px;  
 font-size: 30px; 

 /*border-bottom: 1px solid #fff;*/
color: #F9D7CC;     
}

tr:hover td { 
 color: #339; 
}

button{
   background-color: #4CAF50;
   
    border: none;
    font-family: 'Pacifico', cursive;
    color: white;
    padding: 15px 10px;
    text-align: right;
    margin-left: 50px;
    text-decoration: none;


    font-size: 16px;
    border-radius: 12px;
}
@media 
only screen and (max-width: 760px),{
table{
  width: 100%
  margin: 2%;
}
td{
  margin: 2%
}

th{
  
}


}
/*body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("tazita.jpg");
  opacity: 0.86;
  display: flex;
  min-height: 100vh;
}

table {    
  font-family: 'Pacifico', cursive;
    font-size: 40px;    
    margin: 45px;     
    width: 480px; 
    text-align: left;   
    border-collapse: collapse;
    -moz-border-radius:6px;

    }

th {    
 background: #D98F95;
 font-size: 20px;     
 font-weight: normal;     
 padding-right:40px; 
 padding-left: 30px;    
 border-top: 4px solid #aabcfe;   
 /*border-bottom: 1px solid #fff;*/ 
 /*color: #039;
 background: 
  }

  /*th#procedimiento{
    padding: 80px;  
  }

  th#ingredientes{
    padding: 50px;  
  }*/

/*td { 
 background: #735F6C;
 font-family: 'Sacramento', cursive; 
 padding: 20px;   
 border-top: 4px;  
 font-size: 30px; 

 /*border-bottom: 1px solid #fff;*/
/*color: #F9D7CC;     
}

tr:hover td { 
 color: #339; 
}

button{
   background-color: #4CAF50;
    border: none;
    font-family: 'Pacifico', cursive;
    color: white;
    padding: 15px 10px;
    text-align: right;
    margin-left: 50px;
    text-decoration: none;


    font-size: 16px;
    border-radius: 12px;
}

