 p { font-size: 11pt;
 color:black; }


aside{
	background: #CCCCCC;
	font-family: 'Pacifico', cursive;
	width: 5%;
}

}

 h1{
    
 	font-size:30pt;
 	font-family: 'Pacifico', cursive;
 	color:#5E3932;

 }
#icon{
	width: 50px;
	height: 50px;
}

h2{
	
 	font-size:20pt;
 }

 h3{
 	font-size:15pt;
 }

 body {
 text-align: center;
 background-image: url("tazita.jpg");
 opacity: 0.86;
	}



#agrupar {
 text-align: center;
}

#cabecera {
 text-align: center;
font-family: 'Pacifico', cursive;
 
 border: 1px ;
 border-radius: 12px;
 padding: 20px;
 
} 

#menu {
 background: #8C515C;
 border-radius: 12px;
 text-align: center;
 }

#menu li {

 
 font-family: 'Pacifico', cursive;
text-align: center;
padding-left:30px;
	
}


#seccion {
 
 float: left;
}



 

article {
 
 border: 1px ;
 padding: 20px;
 margin: 15px 0px;
 margin-bottom: 15px;
 text-align: center;
 border-radius: 12px;
 font-family: 'Lobster Two', cursive;
}

 #arquitectura
 {
 	background:#846F89;

 }



img{
	max-width:1024px;
	 width:50%;
     
}
/*****************************responsivo**************************************/
 .container {
		width:996px;
		margin:0px auto;
		font-size:1em;
	}
	section,aside {
		
		 margin: 5px 0px;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	}
	section {
		float: left;
		width: 60%;
	}
	aside {
		float: right;
		width: 35%;
	}
	nav {
		overflow: hidden;
	}
	nav ul {
		list-style-type:none;
		float:left;
		padding:0px;
	}
	nav ul li {
		text-align: center;
		float:left;
		padding:3px 10px;
		margin:2px;
		background-color:#33b5e5;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	}
	footer {
		margin:10px;
		text-align:center;
		clear:both;
	}
 
	/* para 980px o menos */
	@media screen and (max-width:980px) {
		.container {
			width:98%;
		}
		section {
			width:68%;
		}
				aside {
			display:none;
		}
	}
 
	/* para 700px o menos */
	@media screen and (max-width:700px) {

		aside,section {
			float:none;
			width:96%;
		}
		nav, section {
			font-size:1.2em;
		}
		aside {
			margin-top:5px;
		}
		nav ul {
			float:none;
			clear:both;
		}
	}
 
	/* para 480px o menos */
	@media screen and (max-width:480px) {
		aside {
			display:none;
		}
		nav, section {
			font-size:1.5em;
		}
		section {
			width:94%;
		}
		nav ul {
			float:left;
			clear:none;
			width:50%;
		}
		nav ul li {
			float:none;
		}
	.container {
		width:996px;
		margin:0px auto;
		font-size:1em;
	}
	section,aside {
		padding: 5px;
		background:#ccc;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	}
	section {
		float: left;
		width: 70%;
	}
	aside {
		float: right;
		width: 25%;
	}
	nav {
		overflow: hidden;
	}
	nav ul {
		list-style-type:none;
		float:left;
		padding:0px;
	}
	nav ul li {
		float:left;
		padding:3px 10px;
		margin:2px;
		background-color:#33b5e5;
        color: #ffff;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	}
	footer {
		margin:10px;
		text-align:center;
		clear:both;
	}
 

	/* para 700px o menos */
	@media screen and (max-width:700px) {
		aside {
			display:none;
		}
		nav, section {
			font-size:1.2em;
		}
		aside {
			margin-top:5px;
		}
		nav ul {
			float:none;
			clear:both;
		}
	}
 
	/* para 480px o menos */
	@media screen and (max-width:480px) {
		aside {
			display:none;
		}
		nav, section {
			font-size:1.5em;
		}
		section {
			width:94%;
		}
		nav ul {
			float:left;
			clear:none;
			width:50%;
		}
		nav ul li {
			float:none;
		}
	}
}

h3{
	text-align: center;
}

input{
	display:block;
	padding: 10px;
	width:100%;
	margin:30px 0;
	font-size: 20px;

}

input[type="submit"]{
	background: linear-gradient(#FFDA63,#FFB940);
	border:0;
	color:brown;
	opacity: 0.8;
	cursor:pointer;
	border-radius: 20px;
	margin-bottom: 0;
}
  

input [type="submit"]:hover{
	opacity: 0.8;

}

input[type="submit"]:active {
	transform:scale(0.9);
}

p{

}