*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  box-sizing:border-box
}

body{
  background-image: url("tazita.jpg");
  opacity: 0.86;
  display: flex;
  min-height: 100vh;
}

form{

  border-radius: 20px;
  font-family:'Pacifico', cursive;
  margin:auto;
  width:50%;
  max-width: 500px;
  background: #C17255;
  padding: 30px;
}



h2{
  text-align: center;
  margin-bottom: 20px;
   font-family: 'Pacifico', cursive;
   font-size: 30px;
  color: #5E3932;
}

h3{
  text-align: center;
}

input{
  display:block;
  padding: 1px;
  width:100%;
  margin:10px 0;
  font-size: 20px;

}

input[type="submit"]{
  background: linear-gradient(#7BB04C,#64B04C);
  border:0;
  
  opacity: 0.8;
  cursor:pointer;
  border-radius: 20px;
  margin-bottom: 0;
}
  

input [type="submit"]:hover{
  opacity: 0.8;

}

input[type="submit"]:active {
  transform:scale(0.9);
}

p{

}


li {
 display: inline-block;
 list-style: none;
 padding: 5px;
font-family: 'Indie Flower', cursive;
text-align: center;
  
}

img {
  
    width: 30%;
    height:30%;
}


label{
    font-family: 'Pacifico', cursive;
    padding: 0px;

}

.enviar{
   background-color: #4CAF50;
    border: none;
    font-family: 'Pacifico', cursive;
    color: white;
    margin-left: 50px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

.regresar{
   background-color: #4CAF50;
   border: none;
  margin-left: 50px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;



}

.enlace{
   font-family: 'Pacifico', cursive;
    color: white;
}

.imagen{
  font-family: 'Pacifico', cursive;
  background-color:  #D98F95;
    border: none;
   
    color: white;
    
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}