*{
	margin:0;
	padding:0;
	font-family:sans-serif;
	box-sizing:border-box
}

body{
	background-image: url("tazita.jpg");
	opacity: 0.86;
	display: flex;
	min-height: 100vh;
}

form{

    border-radius: 20px;
	margin:auto;
	width:50%;
	max-width: 500px;
	background: #C17255;
	padding: 20px;
}



h2{
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.5);
}

h3{
	text-align: center;
}

input{
	display:block;
	padding: 10px;
	width:100%;
	margin:5px 0;
	font-size: 15px;

}

input[type="submit"]{
	background: linear-gradient(#7BB04C,#64B04C);
	border:0;
	
	opacity: 0.8;
	cursor:pointer;
	border-radius: 20px;
	margin-bottom: 0;
}
  

input [type="submit"]:hover{
	opacity: 0.8;

}

input[type="submit"]:active {
	transform:scale(0.9);
}
input [type="reset"]:hover{
	opacity: 0.8;

}

input[type="reset"]:active {
	transform:scale(0.9);
}

p{

}


li {
 display: inline-block;
 list-style: none;
 padding: 5px;
font-family: 'Indie Flower', cursive;
text-align: center;
	
}

img {
	
    width: 15%;
    height: 15%;
}

label{
	 display: inline-block;
 list-style: none;
 padding: 5px;
font-family: 'Indie Flower', cursive;
text-align: center;
font-size: 15pt;
}

.control
{
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.flecha
{
	position: absolute;
	bottom: 5px;
	left: 10px;
}