body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("tazita.jpg");
  opacity: 0.86;
  display: flex;
  min-height: 100vh;
  margin:0;
  padding:0;
  font-family:sans-serif;
  box-sizing:border-box

}

table {    
  font-family: 'Pacifico', cursive;
    font-size: 40px;    
    margin: 45px;     
    width: 480px; 
    text-align: left;   
    border-collapse: collapse;
    -moz-border-radius:6px;

    }

th {    
 background: #D98F95;
 font-size: 20px;     
 font-weight: normal;     
 padding-right:40px; 
 padding-left: 30px;    
 border-top: 4px solid #aabcfe;   
 /*border-bottom: 1px solid #fff;*/ 
 color: #039;
 background: 
  }

  /*th#procedimiento{
    padding: 80px;  
  }

  th#ingredientes{
    padding: 50px;  
  }*/

td { 
 background: #735F6C;
 font-family: 'Sacramento', cursive; 
 padding: 20px;   
 border-top: 4px;  
 font-size: 30px; 

 /*border-bottom: 1px solid #fff;*/
color: #F9D7CC;     
}

tr:hover td { 
 color: #339; 
}

button{
   background-color: #4CAF50;
   
    border: none;
    font-family: 'Pacifico', cursive;
    color: white;
    padding: 15px 10px;
    text-align: right;
    margin-left: 50px;
    text-decoration: none;


    font-size: 16px;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
        
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;

      }
}


@media screen and (max-width: 120px) {
     table {
       display: block;
       overflow-x: auto;
     }
}